{% extends 'base.html.twig' %}

{% block title %}SignForge | Dashboard{% endblock %}

{% block body %}

<div class="">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/xampp/htdocs/signforge/src/Controller/BoardController.php</code></li>
        <li>Your template at <code>C:/xampp/htdocs/signforge/templates/board/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
